body{
    border: 0;
    margin: 0;
    background-image: url(background.png);
}

#cabecalho{
    background-color: #44312B;
    width: 100%;
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    font-size: 14px;
    font-family: "Cairo", sans-serif;
}

header img{
    padding-top: 20px
}

header input{
    height: 30px;
    margin-top: 45px;
    border-radius: 10px;
}

#textoheader{
    text-align: center;
    padding-top: 40px;
}

#texth1{
    color: white;
    font-size: 20px;
}

#login{
    text-align: center;
    padding-top: 20px;
}

.space{
    display: flex;
    justify-content: center;
}
.user{
    background-color: antiquewhite;
    height: 750px;
    width: 750px;
    border-radius: 20px;
    margin-top: 50px;
    text-align: center;
    justify-content: left;
}

.nome{
    background-color: white;
    height: 50px;
    width: 650px;
    border-radius: 20px;
    margin-top: 50px;
    text-align: left;
    margin-left: 50px;
}
.endereco{
    background-color: white;
    height: 50px;
    width: 650px;
    border-radius: 20px;
    margin-top: 50px;
    text-align: left;
    margin-left: 50px;
}
.numero{
    background-color: white;
    height: 50px;
    width: 650px;
    border-radius: 20px;
    margin-top: 50px;
    text-align: left;
    margin-left: 50px;
}
.senha{
    background-color: white;
    height: 50px;
    width: 650px;
    border-radius: 20px;
    margin-top: 50px;
    text-align: left;
    margin-left: 50px;
}
.botao{
    background-color: #44312B;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 250px;
    color: white;
}